{% extends "base.html" %}

{% block content %}

{% if watchlist|length > 0 %}
    <h2>My Watchlist</h2>
    <ul>
        {% for movie in watchlist %}
        <li>
        <form class="inline" action="/crossoff" method="POST">
            <input type="text" name="crossed-off-movie" value="{{movie}}">
            <input type="submit" value="I watched it!">
        </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Edit My Watchlist</h2>

    <form action="/add" method="POST">
        <label>
            I want to add
            <input type="text" name="new-movie">
            to my watchlist.
        </label>
    </form>

    <h2><a href="/ratings">Ratings</a></h2>

    {% if error %}
        <p class='error'>{{error}}</p>
    {% endif %}
    {% endblock %}